<nav class="navbar navbar-light" style="background-color: black;">
  <div class="container-fluid">
    
    
    
    <%= link_to '<i class="fa fa-chain-broken" aria-hidden="true" style="color: white; font-size: 2.1rem"></i>'.html_safe, root_path %>
      
      <div class="navbar-item">

         <ul class="">
         <li><%= link_to 'books', books_path %></li>
        <% if user_signed_in? %>
        
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <!-- // profile edit and logout else do  -->
          
          <li><%= link_to 'Log in', new_user_session_path %></li>
          
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          
        </ul>
        <% end %>
      </div>
    
  </div>
</nav>